@page "/weather"
@inject HttpClient Http

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (answer == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    @answer
}

@code {

    private string? answer;

    protected override async Task OnInitializedAsync()
    {
        //answer = await Http.GetFromJsonAsync<string>("/api/answare");
        answer = await Http.GetStringAsync("/api/answare");
    }

}