services:
  postgres:
    profiles: ["setup"]
    image: postgres:14.1-alpine
    container_name: assistente-postgres
    hostname: assistente-postgres
    restart: unless-stopped
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - 1000:5432
    volumes: 
      - assistente-postgres:/var/lib/postgresql/data

  pgadmin:
    profiles: ["setup"]
    image: dpage/pgadmin4
    container_name: assistente-pgadmin
    hostname: assistente-pgadmin
    restart: unless-stopped
    ports:
      - 1001:80
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@assistente.dev
      - PGADMIN_DEFAULT_PASSWORD=admin
    volumes:
      - assistente-pg-admin:/var/lib/pgadmin

  qdrant:
    profiles: ["setup"]
    image: qdrant/qdrant
    container_name: assistente-qdrant
    hostname: qdrant
    restart: unless-stopped
    ports:
      - 1002:6333
      - 1003:6334
    volumes:
      - assistente-qdrant:/qdrant/storage

  rabbitmq:
    profiles: ["setup"]
    image: rabbitmq:3.7.7-management
    container_name: assistente-rabbitmq
    hostname: assistente-rabbitmq
    restart: unless-stopped
    ports:
      - 1004:5672
      - 1005:15672
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
      - RABBITMQ_DEFAULT_VHOST=/
    volumes:
      - assistente-rabbitmq:/var/lib/rabbitmq

  jaeger:
    profiles: ["setup"]
    image: jaegertracing/all-in-one:latest
    container_name: assistente-jaeger
    hostname: assistente-jaeger
    restart: unless-stopped
    ports:
      - 1011:4317
      - 1012:16686

  seq:
    profiles: ["setup"]
    image: datalust/seq:latest
    container_name: assistente-seq
    hostname: assistente-seq
    restart: unless-stopped
    ports:
      - 1006:80
      - 1007:5341
    environment:
      - ACCEPT_EULA=Y
    volumes:
      - assistente-seq:/data

  ui:
    profiles: ["app"]
    image: armatysme/assistente-ui:latest
    container_name: ui
    hostname: assistente-ui
    restart: unless-stopped
    depends_on:
      - api
    ports:
      - 1008:8080
    volumes:
      - ./blazor.json:/var/www/web/appsettings.json
  
  db-upgrade:
    profiles: ["database"]
    image: armatysme/assistente-db-upgrade:latest
    container_name: db-upgrade
    environment:
      - Database__ConnectionString=${Database_ConnectionString}

  api:
    profiles: ["app"]
    image: armatysme/assistente-api:latest
    container_name: api
    hostname: assistente-api
    restart: unless-stopped
    depends_on:
      - worker-sync
    ports:
      - 1009:8080
    environment:
      - Database__ConnectionString=${Database_ConnectionString}
      - OpenAI__ApiKey=${OpenAI_ApiKey}
      - Seq__Url=${Seq_Url}
      - Seq__ApiKey=${Seq_ApiKey}
      - Qdrant__Host=${Qdrant_Host}
      - Qdrant__ClientPort=${Qdrant_ClientPort}
      - Qdrant__ApiPort=${Qdrant_ApiPort}
      - Rabbit__Name=${Rabbit_Name}
      - Rabbit__Url=${Rabbit_Url}
      - InternalApi__Url=${InternalApi_Url}
      - OpenTelemetry_Url__Url=${OpenTelemetry_Url}

  worker-sync:
    profiles: ["app"]
    image: armatysme/assistente-worker-sync:latest
    container_name: worker-sync
    hostname: assistente-worker-sync
    restart: unless-stopped
    ports:
      - 1010:8080
    environment:
      - Database__ConnectionString=${Database_ConnectionString}
      - OpenAI__ApiKey=${OpenAI_ApiKey}
      - Seq__Url=${Seq_Url}
      - Seq__ApiKey=${Seq_ApiKey}
      - Qdrant__Host=${Qdrant_Host}
      - Qdrant__ClientPort=${Qdrant_ClientPort}
      - Qdrant__ApiPort=${Qdrant_ApiPort}
      - Rabbit__Name=${Rabbit_Name}
      - Rabbit__Url=${Rabbit_Url}
      - InternalApi__Url=${InternalApi_Url}
      - OpenTelemetry_Url__Url=${OpenTelemetry_Url}

  playground:
    profiles: ["playground"]
    image: armatysme/assistente-playground:latest
    container_name: playground
    entrypoint: ["dotnet", "ASSISTENTE.Playground.dll", "-l"]
    environment:
      - Database__ConnectionString=${Database_ConnectionString}
      - OpenAI__ApiKey=${OpenAI_ApiKey}
      - Qdrant__Host=${Qdrant_Host}
      - Qdrant__ClientPort=${Qdrant_ClientPort}
      - Qdrant__ApiPort=${Qdrant_ApiPort}
    volumes:
      - ./${KnowledgePaths_MarkdownNotes}:/app/Resources/Notes
      - ./${KnowledgePaths_Repositories}:/app/Resources/Repositories

volumes:
  assistente-postgres:
    driver: local
  assistente-pg-admin:
    driver: local
  assistente-qdrant:
    driver: local
  assistente-rabbitmq:
    driver: local
  assistente-seq:
    driver: local